

<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>角色</title>
    <link href="../../layui/css/layui.css" rel="stylesheet" media="all" />
    <link href="../../build/css/common.css" rel="stylesheet" />
    <style>
        .layui-form-label{
            width: 90px !important;
        }
    </style>
</head>
<body>
    <div id="page-vm" class="layui-fluid iframe-top">
        <div class="table_sysroles_mg">
            <fieldset class="layui-elem-field">
                <div class="layui-field-box">
                    <form class="layui-form">
                        <div class="layui-row">
                            <div class="layui-inline">
                                <label class="layui-form-label">角色名称：</label>
                                <div class="layui-input-inline">
                                    <input type="text" class="layui-input" name="role_name">
                                </div>
                            </div>
                            <div class="layui-inline">
                                <label class="layui-form-label">父级角色ID：</label>
                                <div class="layui-input-inline">
                                    <input type="text" class="layui-input" name="role_parent_role">
                                </div>
                            </div>
                            <div class="layui-inline">
                                <label class="layui-form-label">是否可用：</label>
                                <div class="layui-input-inline">
                                    <select lay-search name="role_is_enable">
                                        <option value="">请选择</option>
                                        <option v-for="option in role_is_enable_list" v-bind:value="option.Value">{{ option.Text }}</option>
                                    </select>
                                </div>
                            </div>
                            <div class="layui-inline btngroup">
                                <a href="javascript:;" class="layui-btn" lay-submit lay-filter="btn_sysroles_from" id="btn_sysroles_from_query">查询</a>
                                <a href="javascript:;" class="layui-btn" lay-submit lay-filter="btn_sysroles_from_export">导出</a>
                            </div>
                        </div>
                    </form>
                </div>
            </fieldset>
            <table id="table_sysroles" class="layui-hide" lay-filter="table_sysroles_list"></table>
            <div id="table_sysroles_page" class="laypage"></div>
        </div>
    </div>
    <script type="text/html" id="toolbarDemo">
        <div class="layui-btn-container">
            <button class="layui-btn layui-btn-sm" lay-event="add">添加</button>
            <button class="layui-btn layui-btn-sm layui-btn-warm" lay-event="delbatch">批量删除</button>
        </div>
    </script>
    <script type="text/html" id="tpl_role_is_enable">
        {{# if(d.role_id!='-1'){ }}
        <input type="checkbox" name="role_is_enable" value="1" lay-skin="switch" data-code="{{d.role_id}}" lay-text="是|否" lay-filter="table_tpl_role_is_enable" {{d.role_is_enable==1?'checked':''}}>
        {{# } }}
    </script>
    <script type="text/html" id="table_sysroles_operator">
        {{# if(d.role_id!='-1'){ }}
        <a href="javascript:;" class="layui-btn layui-btn-xs" lay-event="edit" data-code="role_id">编辑</a>
        {{# } }}
        <a href="javascript:;" class="layui-btn layui-btn-xs layui-btn-danger" lay-event="del" data-code="role_id">删除</a>
    </script>
    <script src="../../layui/layui.js"></script>
    <script src="../../plugins/vue/vue.min.js"></script>
    <!--公共函数库-->
    <script src="../../modules/extend/common.js"></script>
    <script>
        var vm = new Vue({
            el: '#page-vm',
            data: {
                currPage: 1,
                role_is_enable_list: []
            },
            methods: {
                RenderDom: function (form, callback) {
                    vm.$forceUpdate();//强制重新渲染 dom
                    // DOM 还没有更新
                    vm.$nextTick(function () {
                        // DOM 现在更新了
                        form.render();
                        if (callback) {
                            callback();
                        }
                    });
                }
            }
        });
        layui.use(['table', 'layer', 'form', 'laypage', 'jquery', 'ajaxmod', 'datatable'], function () {
            var table = layui.table,
                $ = layui.jquery,
                layer = layui.layer,
                form = layui.form,
                laypage = layui.laypage,
                ajaxmod = layui.ajaxmod,
                datatable = layui.datatable;
            var _context = $('.table_sysroles_mg'),
                _table_style = { align: 'center' };//公共样式

            var sysrolesObj = {
                renderTable: function (_options) {
                    var optDefault = {
                        Page: vm.currPage,
                        PageSize: PageSize,//common中定义的全局
                    };
                    $.extend(optDefault, _options);
                    var _the = this;
                    datatable.renderTable(optDefault, {
                        url: '/sysroles',
                        tableElem: 'table_sysroles',//laypage 自动加_page
                        tableCols: [[
                            { type: 'checkbox' },
                            $.extend({ field: 'role_id', title: '角色ID' }, _table_style),
                            $.extend({ field: 'role_name', title: '角色名称' }, _table_style),
                            $.extend({ field: 'role_parent_role', title: '父级角色' }, _table_style),
                            $.extend({ field: 'role_grade', title: '角色等级' }, _table_style),
                            $.extend({ field: 'role_remarks', title: '附注' }, _table_style),
                            $.extend({ field: 'role_sort', title: '排序' }, _table_style),
                            $.extend({ field: 'role_is_enable', title: '角色是否启用', templet: '#tpl_role_is_enable' }, _table_style),
                            $.extend({ field: 'role_id', title: '操作', width: 190, templet: '#table_sysroles_operator', fixed: 'right' }, _table_style)
                        ]],
                    });
                },
                edit: function (_data) {
                    var _the = this;
                    datatable.edit({
                        title: '编辑角色',
                        area: ['850px', '500px'],
                        content: 'view/sysroles/edit.html?role_id=' + _data.role_id,
                    });
                },
                add: function () {
                    var _the = this;
                    datatable.add({
                        title: '新增角色',
                        area: ['850px', '500px'],
                        content: 'view/sysroles/edit.html',
                    });
                },
                del: function (_data) {
                    var _the = this;
                    datatable.del({
                        url: '/sysroles/' + _data.role_id,
                        type: 'Delete',
                        success: function (_json) {
                            top.tool.publish('edit_sysroles_form_refresh');//触发事件刷新列表
                        }
                    });
                },
                delbatch: function (_data) {
                    var checkStatus = table.checkStatus('table_sysroles'),
                        data = checkStatus.data;
                    var delIdList = [];
                    $.each(data, function (k, v) {
                        delIdList.push(v._id);
                    });
                    datatable.delbatch({
                        url: '/sysroles',
                        type: 'Delete',
                        data: delIdList,
                        success: function (_json) {
                            top.tool.publish('edit_sysroles_form_refresh');//触发事件刷新列表
                        }
                    });
                },
                patchObj: function (_data) {
                    ajaxmod.authorizeAjax({
                        url: '/sysroles',
                        type: 'Patch',
                        data: _data,
                        success: function (_json) {
                            top.tool.publish('edit_sysroles_form_refresh');
                        }
                    });
                },
                exportExcel: function (data) {
                    //跟表格显示的数据一样
                    data = excel.filterExportData(data, [
                        'role_id',
                        'role_name',
                        'role_remarks',
                        'role_parent_role',
                        'role_sort',
                        'role_grade',
                        'role_is_enable',
                    ]);

                    data.unshift({
                        role_id: 'id',
                        role_name: '名称',
                        role_remarks: '附注',
                        role_parent_role: '父级角色',
                        role_sort: '排序',
                        role_grade: '角色等级',
                        role_is_enable: '角色是否启用',
                    });

                    excel.exportExcel({
                        sysroles: data
                    }, 'sysroles' + new Date().toLocaleString() + '.xlsx', 'xlsx');
                },
                loadtable: function () {
                    $('#btn_sysroles_from_query').click();
                },
                loadList: function () {
                    var _the = this;
                    ajaxmod.ajaxArray([
                        {
                            url: '/appenums/1000',
                            type: 'Get',
                            success: function (_json) {
                                vm.role_is_enable_list = _json.Result;
                            }
                        }
                    ], function () {
                        vm.RenderDom(form);
                    });
                }
            };
            sysrolesObj.loadList();
            sysrolesObj.renderTable();//加载第一页

            //绑定编辑也保存事件
            top.tool.subscribe("edit_sysroles_form_refresh", function () {
                sysrolesObj.renderTable();
            });

            table.on('tool(table_sysroles_list)', function (obj) {
                var data = obj.data;
                sysrolesObj[obj.event] ? sysrolesObj[obj.event].call(sysrolesObj, data) : '';
            });

            table.on('toolbar(table_sysroles_list)', function (obj) {
                var data = obj.data;
                sysrolesObj[obj.event] ? sysrolesObj[obj.event].call(sysrolesObj, data) : '';
            });

            form.on('submit(btn_sysroles_from)', function (data) {
                vm.currPage = 1;
                sysrolesObj.renderTable(data.field);
                return false;
            });

            form.on('submit(btn_sysroles_from_export)', function (data) {
                ajaxmod.authorizeAjax({
                    url: '/sysroles?option=1',
                    type: 'Get',
                    data: data.field,
                    success: function (_json) {
                        sysrolesObj.exportExcel(_json.Result);
                    }
                });
                return false;
            });

            form.on('switch(table_tpl_role_is_enable)', function (data) {
                let _id = data.elem.attributes["data-code"].value;
                let _value = 1;
                if (data.elem.checked) {
                    _value = 1;
                } else {
                    _value = 2;
                }
                sysrolesObj.patchObj({ role_id: _id, role_is_enable: _value });
            });
        });
    </script>
</body>
</html>