<!DOCTYPE html>
<html lang="zh-cn">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>编辑系统_菜单</title>
    <link href="../../layui/css/layui.css" rel="stylesheet" media="all" />
    <link href="../../build/css/common.css" rel="stylesheet" />
</head>

<body>
    <div id="page-vm" class="layui-fluid iframe-top lable-len">
        <form class="layui-form edit_menu_form">
            <div class="layui-fluid">
                <div class="layui-row">
                    <div class="layui-col-sm6">
                        <div class="layui-row">
                            <div class="layui-inline">
                                <label class="layui-form-label">父级菜单ID：</label>
                                <div class="layui-input-inline">
                                    <input type="text" class="layui-input" placeholder="请输入父级菜单"
                                        v-model="menu.parentCode">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="layui-col-sm6">
                        <div class="layui-row">
                            <div class="layui-inline">
                                <label class="layui-form-label">新增菜单ID：</label>
                                <div class="layui-input-inline">
                                    <input type="text" class="layui-input" placeholder="请输入父级菜单"
                                        v-model="menu.code">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="layui-col-sm6">
                        <div class="layui-row">
                            <div class="layui-inline">
                                <label class="layui-form-label">菜单名称：</label>
                                <div class="layui-input-inline">
                                    <input type="text" class="layui-input" lay-verify="required" placeholder="请输入菜单名称"
                                        v-model="menu.name">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="layui-col-sm6">
                        <div class="layui-row">
                            <div class="layui-inline">
                                <label class="layui-form-label">菜单图标：</label>
                                <div class="layui-input-inline">
                                    <input type="text" class="layui-input" lay-verify="required" placeholder="请输入菜单图标"
                                        v-model="menu.icon">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="layui-col-sm6">
                        <div class="layui-row">
                            <div class="layui-inline">
                                <label class="layui-form-label">菜单排序：</label>
                                <div class="layui-input-inline">
                                    <input type="text" class="layui-input" lay-verify="required" placeholder="请输入菜单排序"
                                        v-model="menu.sort">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="layui-col-sm6">
                        <div class="layui-row">
                            <div class="layui-inline">
                                <label class="layui-form-label">菜单URL：</label>
                                <div class="layui-input-inline">
                                    <input type="text" class="layui-input" placeholder="请输入菜单URL"
                                        v-model="menu.url">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="layui-col-sm6">
                        <div class="layui-row">
                            <div class="layui-inline">
                                <label class="layui-form-label">菜单描述：</label>
                                <div class="layui-input-inline">
                                    <input type="text" class="layui-input" lay-verify="required" placeholder="请输入菜单描述"
                                        v-model="menu.description">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <br />
                <div class="layui-row" style="text-align:center;">
                    <div class="layui-inline">
                        <a class="layui-btn layui-btn-normal" lay-submit lay-filter="btn_submit_menu_form"
                            href="javascript:;">保存</a>
                        <a class="layui-btn layui-btn-primary" id="cancel" href="javascript:;">关闭</a>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <script src="../../layui/layui.js"></script>
    <script src="../../plugins/vue/vue.min.js"></script>
    <!--公共函数库-->
    <script src="../../modules/extend/common.js"></script>
    <script src="../../plugins/xm-select/xm-select.js"></script>
    <script>
        var vm = new Vue({
            el: '#page-vm',
            data: {
                paramObj: {},//querystirng 参数对象
                //默认值
                menu: {
                    code: '',
                    name: '',
                    icon: '',
                    sort: 0,
                    parentCode: '',
                    url: '',
                    description: '',
                }
            },
            watch: {
                menu: {
                    deep: true,
                    handler: function (val, old_val) {
                        var _this = this;
                    }
                }
            },
            methods: {
                RenderDom: function (form, callback) {
                    vm.$forceUpdate();//强制重新渲染 dom
                    // DOM 还没有更新
                    vm.$nextTick(function () {
                        // DOM 现在更新了
                        form.render();
                        if (callback) {
                            callback();
                        }
                    });
                }
            }
        });

        layui.use(['layer', 'form', 'ajaxmod', 'jquery', 'laydate', 'formvalidate'], function () {
            var layer = layui.layer,
                $ = layui.jquery,
                form = layui.form,
                ajaxmod = layui.ajaxmod,
                formvalidate = layui.formvalidate,
                laydate = layui.laydate;
            var _context = $('.edit_menu_form');
            var _table_style = { align: 'center' };//公共样式

            var menuObj = {
                //初始化页面 layui样式
                initPage: function () {
                    var _the = this;
                    vm.paramObj = geturlparam();
                    _the.loadData();
                },
                loadData: function () {
                    if (vm.paramObj.id) {
                        ajaxmod.requestAuthorize({
                            url: '/menu/' + vm.paramObj.id,
                            type: 'Get',
                            success: function (response) {
                                vm.$set(vm, 'menu', response);
                                vm.RenderDom(form);
                            }
                        });
                    }
                },
            };
            menuObj.initPage();

            //parent 上一级别
            $('#cancel', $(_context)).on('click', function () {
                var index = parent.layer.getFrameIndex(window.name);
                parent.layer.close(index);
            });

            form.on('submit(btn_submit_menu_form)', function (_from_data) {
                var data = vm.menu;
                var url = '/menu';
                var type = 'Post';
                if (vm.paramObj.id) {
                    url = '/menu/' + vm.paramObj.id;
                    type = 'Put';
                }
                //阻止表单提交可以  return false;
                ajaxmod.requestAuthorize({
                    url: url,
                    data: data,
                    type: type,
                    success: function (response) {
                        var index = parent.layer.getFrameIndex(window.name);
                        parent.layer.close(index);
                        top.tool.publish('edit_menu_form_refresh');
                    }
                });
                return false;
            });
        });
    </script>
</body>

</html>