@page
@using Microsoft.Extensions.Localization
@using Jh.Abp.MenuManagement.Localization
@model Jh.Abp.MenuManagement.Web.Pages.MenuManagement.IndexModel
@inject IStringLocalizer<MenuManagementResource> L
@{
}
<h1>MenuManagement</h1>
<p>@L["SamplePageMessage"]</p>
