@charset "utf-8";
*{margin:0;padding:0;list-style:none;}
html{width:100%;height:100%;}
body {font-family: "Microsoft Yahei",Tahoma,Arial,Helvetica,STHeiti;color:#fff;width:100%;height:100%; background: url("../images/login/backbg.jpg") repeat-x top; background-color: #145bbb;}
a, abbr, acronym, address, applet, article, aside, audio, b, big, blockquote, body, canvas, caption, center, cite, code, dd, del, details, dfn, div, dl, dt, em, embed, fieldset, figcaption, figure, footer, form, h1, h2, h3, h4, h5, h6, header, hgroup, hr, html, i, iframe, img, ins, kbd, label, legend, li, mark, menu, nav, object, ol, output, p, pre, q, ruby, s, samp, section, small, span, strike, strong, sub, summary, sup, table, tbody, td, textarea, tfoot, th, thead, time, tr, tt, u, ul, var, video {margin: 0;padding: 0;border: 0;box-sizing:border-box;}
table{border-collapse:collapse;border-spacing:0}
a{text-decoration:none;}
img {vertical-align: middle;}
.fl {float:left;}
.fr {float:right;}

/* 登录*/
.main {width:100%; height: 820px; margin: 0px auto; background: url("../images/login/mainbg.jpg") no-repeat center top;}
.main-title {
    position: absolute;
    top: 150px;
    left: 28%;
    letter-spacing: 5px;
}
    .main-title > div {
        margin: 25px;
    }
    .main-title .m-tite{
        font-size:2.5rem;
        font-weight:600;
    }
    .main-title .sub-tite {
        font-size:1.5rem;
    }
    .topmenu {
        width: 100%;
        height: 54px;
    }
.topmenun {float:right; width:auto; height: 26px; margin-top: 13px; line-height: 26px;}
.topmenun a {float: left; width:136px; height: 26px; color: #fff; font-size:14px; text-align: center;}
.topmenun a:hover {color:#55f3eb;}
.borderr {border-right: 1px solid #799dcd;}
.input_main {
    width: 430px;
    height: auto;
    margin-top: 307px;
    margin-left: 30%;
    position: relative;
}
.input_name { width:360px; height: 36px; border: 1px solid #6baaff; border-radius: 18px; background: url("../images/login/user.png") no-repeat center left; padding-left: 40px; background-color: #fff; margin-bottom: 30px; -webkit-border-radius:; -moz-border-radius:; -ms-border-radius:; -o-border-radius:; }
.input_name span {float: left; width: 60px; height: 36px; line-height: 36px; font-size: 16px; color: #0554bb;}
.input_name input {float: left; width: 245px; height: 28px; line-height: 28px; border-radius: 14px; background-color: #dfe5ed; font-size: 16px; color: #5a6677; margin-top: 3px; border: 0px; padding-left: 10px;}

.input_key {width:360px; height: 36px;  border: 1px solid #6baaff; border-radius: 18px;  background: url("../images/login/key.png") no-repeat center left; padding-left: 40px; background-color: #fff; margin-bottom: 20px;}
.input_key span {float: left; width: 60px; height: 36px; line-height: 36px; font-size: 16px; color: #0554bb;}
.input_key input {float: left; width: 245px; height: 28px; line-height: 28px; border-radius: 14px; background-color: #dfe5ed; font-size: 16px; color: #5a6677; margin-top: 3px; border: 0px; padding-left: 10px;}

.login_botton_block {width: 100%; height: auto;}
.remember {float: left; width:150px; height: 54px; line-height: 54px; font-size: 14px; color: #fff; }
.remember input {float:left; width: 16px; height: 16px; border-radius: 3px; border: 0px; background-color: #69a7fb; color: #fff; margin : 19px 10px 0px 0px;}
.login_botton {float: left; width: 200px; height: 53px; background: url("../images/login/loginbotton.png") no-repeat center; line-height: 53px; font-size: 24px; border: 0px; background-color: none; color: #fff; font-weight: bold; cursor: pointer; }

.foot {width: 100%; height: 50px; line-height: 50px; color: #fff; text-align: center; margin-top: 267px; font-size: 12px; color: #aecffc;}


.prompt {
    position: fixed;
    top: 30%;
    left: 40%;
    width: 400px;
    min-height: 35px;
    display: none;
    font-size: 1.3rem;
    padding: 14px 26px 14px 13px;
    border-radius: 8px;
    box-sizing: border-box;
    border: 1px solid #ebeef5;
    background-color: #fff;
    box-shadow: 0 2px 12px 0 rgba(0,0,0,.1);
    transition: opacity .3s,transform .3s,left .3s,right .3s,top .4s,bottom .3s;
    overflow: hidden;
}
    .prompt .prompt_group {
        margin-left: 13px;
        margin-right: 8px;
    }

        .prompt .prompt_group .prompt-title {
            font-weight: 700;
            font-size: 1.3rem;
            color: #303133;
            margin: 0;
        }

        .prompt .prompt_group .prompt-content {
            font-size: 1.1rem;
            line-height: 21px;
            margin: 6px 0 0;
            color: #606266;
            text-align: justify;
        }

button:focus {
    outline: none !important;
}
input:focus{
    outline:none !important;
}