@page
@using Microsoft.Extensions.Localization
@using Jh.Abp.FormCustom.Localization
@model Jh.Abp.FormCustom.Web.Pages.FormCustom.IndexModel
@inject IStringLocalizer<FormCustomResource> L
@{
}
<h1>FormCustom</h1>
<p>@L["SamplePageMessage"]</p>
