@page "/FormCustom"
@using Microsoft.Extensions.Localization
@using global::Jh.Abp.FormCustom.Localization
@inject IStringLocalizer<FormCustomResource> L
@{
}
<h1>FormCustom</h1>
<p>@L["SamplePageMessage"]</p>