
<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>系统价格计算器</title>
    <link href="../../layui/css/layui.css" rel="stylesheet" media="all" />
    <link href="../../build/css/common.css" rel="stylesheet" />
</head>
<body>
    <div id="page-vm" class="layui-fluid iframe-top">
        <div class="table_equipment_mg">
            <fieldset class="layui-elem-field">
                <div class="layui-field-box">
                    <form class="layui-form">
                        <div class="layui-row">
                                <div class="layui-inline">
                                    <label class="layui-form-label">系统：</label>
                                    <div class="layui-input-inline">
                                        <select lay-search name="equipmentgroupId">
                                            <option v-for="option in equipmentgrouplist" v-bind:value="option.value">{{ option.name }}</option>
                                        </select>
                                    </div>
                                </div>
                            <div class="layui-inline btngroup">
                                <a href="javascript:;" class="layui-btn" lay-submit lay-filter="btn_equipment_from" id="btn_equipment_from_query">查询</a>
                                <a href="javascript:;" class="layui-btn" lay-submit lay-filter="btn_equipment_from_export">导出</a>
                            </div>
                        </div>
                    </form>
                </div>
            </fieldset>
            <table class="layui-table">
                <colgroup>
                  <col>
                  <col>
                  <col>
                  <col>
                  <col>
                  <col>
                  <col width="200">
                </colgroup>
        <thead>
            <tr>
                <th>设备名称</th>
                <th>设备型号/参数</th>
                <th>单位</th>
                <th>指导价(￥)</th>
                <th>备注</th>
                <th>价格小计(￥)</th>
                <th style="text-align: center;">数量</th>
            </tr>
        </thead>
                <tbody>
                  <tr v-for="item in datalist">
                    <td>{{item.name}}</td>
                    <td>{{item.modelNumber}}</td>
                    <td>{{item.unit}}</td>
                    <td>￥ {{item.guidePrice}}</td>
                    <td>{{item.remark}}</td>
                    <td><span>￥</span><span>{{item.price}}</span></td>
                    <td style="text-align: center;">
                        <span class="layui-btn layui-btn-sm" v-on:click="removeNum(item)">-</span>
                        <input type="number" disabled class="layui-btn-sm" :value="item.num" style="border-radius: 5px;background-color: #fff;border-color: #e6e6e6;border-width: 1px;width: 50px;">
                        <span class="layui-btn layui-btn-sm"  v-on:click="addNum(item)">+</span></td>
                  </tr>
                  <tr>
                      <td>安装运输调试</td>
                      <td colspan="4">按照设备总价15%收取，如设备总价较低，可根据距离郑州距离灵活调整</td>
                      <td colspan="2">
                        <input type="number" class="layui-btn-sm" placeholder="￥" v-model="installPrice" style="border-radius: 5px;background-color: #fff;border-color: #e6e6e6;border-width: 1px;">
                      </td>
                  </tr>
                  <tr>
                      <td colspan="5">合计：</td>
                      <td colspan="2"><span>￥</span><span id="totalPrice">{{totalPrice}}</span></td>
                  </tr>
                </tbody>
              </table>
        </div>
    </div>
    <script src="../../layui/layui.js"></script>
    <script src="../../plugins/vue/vue.min.js"></script>
    <!--公共函数库-->
    <script src="../../modules/extend/common.js"></script>
    <script>
        var vm = new Vue({
            el: '#page-vm',
            data: {
                currPage: 1,
                equipmentgrouplist: [],
                datalist:[],
                installPrice:0,
                totalPrice:0
            },
            methods: {
				RenderDom: function(form, callback){
                    vm.$forceUpdate();//强制重新渲染 dom
                    // DOM 还没有更新
                    vm.$nextTick(function () {
                        // DOM 现在更新了
                        form.render();
                        if (callback) {
                            callback();
                        }
                    });
                },
                removeNum: function (item) {
                    item.num--;
                    item.price = item.num * parseFloat(item.guidePrice);
                    this.counterTotalPrice();
                },
                addNum: function (item) {
                    item.num++;
                    item.price = item.num * parseFloat(item.guidePrice);
                    this.counterTotalPrice();
                },
                counterTotalPrice:function(){
                    let totalPrice = 0;
                    for (const item of vm.datalist) {
                        totalPrice += item.price;
                    }
                    vm.installPrice = totalPrice * 0.15;
                    vm.totalPrice = totalPrice + vm.installPrice;
                }
            }
        });
        layui.use(['table', 'layer', 'form', 'laypage', 'jquery', 'ajaxmod', 'datatable', 'excel'], function () {
            var table = layui.table,
                $ = layui.jquery,
                layer = layui.layer,
                form = layui.form,
                laypage = layui.laypage,
                ajaxmod = layui.ajaxmod,
                excel = layui.excel,
                datatable = layui.datatable;
            var _context = $('.table_equipment_mg'),
                _table_style = { align: 'center' };

            var extendsProperty={price:0,num:0};

            var equipmentObj = {
                renderTable: function (_options) {
                    var _the = this;
                    ajaxmod.requestAuthorize({
                        url: '/equipmentgroup/' + _options.equipmentgroupId + '/equipmentslist',
                        success: function (data) {
                            for (const item of data.items) {
                                Object.assign(item,extendsProperty);
                            }
                            vm.datalist=data.items;
                            vm.installPrice = 0;
                            vm.totalPrice = 0;
                        }
                    });
                },
                exportExcel: function (data) {
                    data = excel.filterExportData(data, [
                       'name',
                       'unit',
                       'guidePrice',
                       'modelNumber',
                       'remark',
                       'price',
                       'num'
                    ]);

                    data.unshift({
                        name:'设备名称',
                        modelNumber:'设备型号/参数',
                        unit:'单位',
                        guidePrice:'指导价(￥)',
                        remark:'备注',
                        price:'价格小计(￥)',
                        num:'数量'
                    });

                    excel.exportExcel({
                        equipment: data
                    }, 'equipment' + new Date().toLocaleString() + '.xlsx', 'xlsx');
                },
                loadList: function () {
                    var _the = this;
                    ajaxmod.ajaxArray([
                        {
                            url: '/equipmentgroup/select',
                            type: 'Get',
                            success: function (response) {
                                vm.equipmentgrouplist = response.items;
                                _the.renderTable({equipmentgroupId:response.items[0].value});
                            }
                        }
                    ], function () {
                        vm.RenderDom(form);
                    });
                }
            };
            equipmentObj.loadList();

            form.on('submit(btn_equipment_from)', function (data) {
                equipmentObj.renderTable(data.field);
                return false;
            });

            form.on('submit(btn_equipment_from_export)', function (data) {
                var datas = [];
                Object.assign(datas, vm.datalist);
                datas.push({ name: '安装运输调试',remark:'按照设备总价15%收取，如设备总价较低，可根据距离郑州距离灵活调整', price: vm.installPrice });
                datas.push({ name: '合计：', price: vm.totalPrice });
                equipmentObj.exportExcel(datas);
                return false;
            });
        });
    </script>
</body>
</html>