@page "/MenuManagement"
@using Microsoft.Extensions.Localization
@using global::Jh.Abp.MenuManagement.Localization
@inject IStringLocalizer<MenuManagementResource> L
@{
}
<h1>MenuManagement</h1>
<p>@L["SamplePageMessage"]</p>